<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/main.css' />
</head>

<body>
  <header>
    {{!-- MAIN LOGO and BAK TO HOME LINK ROUTE --}}
    <a href="/"><img src="/images/pf_logo.jpg" alt="Pink Floyd logo" id="logo"></a>
  </header>
  <main>
    <img src="/images/pink_floyd_logoMain.png" alt="bckgrd logo" id="bckgrd_logo">
    {{{body}}}
  </main>
  <footer>
    <p id="copyright">2019 &copy; Camillo ❤️ Pink Floyd</p>
  </footer>

</body>

</html>